@page "/counter"
@using ClassLibrary1
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter to 100</h1>



@foreach (var x in PrintValueResult(1, 100000))
{
    <span>@x</span>
    <br />
}
    



@code {
    [Inject]
    private IClass1 library { get; set; }

    private int currentCount = 0;

    private List<Tuple<int, string>> rules = new List<Tuple<int, string>>();

    private ICollection<string> PrintValueResult(int min, int max)
    {
        rules.Add(new Tuple<int, string>(3, "patrick"));
        rules.Add(new Tuple<int, string>(5, "towle"));

        return library.PrintValue(min, max, rules);
    }


    
}
